<h1> WELCOME TO THE BEST GYM IN TOWN! </h1>

<h3> What would you like to do? </h3>

<%= button_to "View Members", members_path, method: :get%> <br>
<%= button_to "View Trainers", trainers_path, method: :get%> <br>
<%= button_to "View Workouts", workouts_path, method: :get%> <br>