<h1> Edit Trainer </h1>

<%= form_with model: @trainer do |f| %>
    <p>Name: <%=f.text_field :name%></p>
    <p>Specialty: <%=f.text_field :specialty%></p>
    <%=f.submit "Edit Trainer"%>
    <%end%>